
h1, h2 {
    color: #2A2730;
}

.titleBillet {
    margin-bottom : 0px;
}

a, a:hover {
    text-decoration: none;
}

#global {
    text-align: justify;
}

#contenu {
    margin-bottom : 30px;
}

#titlePage, #footerPage {
    text-align: center;
}

#txtComment {
    width: 50%;
}


#footerPage {
    background-color: #2A2730;
    color: white;
    line-height: 150px;
    min-height: 200px;
    margin-bottom: 0px !important;
}